# This file is strictly for building docs on readthedocs.org
# See pyproject.toml for local development
Sphinx==4.1.2
git+git://github.com/readthedocs/sphinx_rtd_theme@f5b0291#egg=sphinx-rtd-theme
toml
